

.nav{
    padding-right: 50px;
    background-color:rgb(42, 48, 48);

}

.log{
    margin-left: 80px;
}

.nav ul{
   float: right;
   margin-top: -80px;

}
.nav ul li{
    padding: 20px;
    float: left;
    font-size: 24px;
    font-weight: 700;
    color:aliceblue

}
.nav ul li a{
    padding: 20px;
}

.nav ul li a:hover{
    background-color:rgb(84, 93, 93);
    padding: 20px;
    border-radius: 10px;
}